* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
}

#bg-section-top {
  min-height: 1000px;
  padding: 5rem;
  background: linear-gradient(to bottom, rgba(18, 5, 31, 0) 0%, rgba(18, 5, 31, 0.5) 80%, rgb(18, 5, 31) 100%), url(../Images/concert-3084876_1920.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#bg-section-center {
  min-height: 800px;
  padding: 1.8rem;
  background: linear-gradient(180deg, rgb(18, 5, 31) 0%, rgb(255, 249, 233) 100%);
}

#bg-section-bottom {
  min-height: 800px;
  padding: 5rem;
  background: linear-gradient(to top, rgba(255, 249, 233, 0) 0%, rgba(255, 249, 233, 0.5) 80%, rgb(255, 249, 233) 100%), url(../Images/29a3ca739f8347de51ca975401451b7a_RYAN8130-814-363-c.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

a:hover {
  text-shadow: 0px 0px 3px whitesmoke;
}

header {
  width: 100%;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 100%;
}
header .navbar .wide-screen-menu ul {
  list-style: none;
}
header .navbar .wide-screen-menu ul li a {
  text-decoration: none;
  color: black;
}
header .navbar .wide-screen-menu ul li:not(:first-child) {
  display: none;
}
header .navbar .collapsible-menu {
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .navbar .collapsible-menu label {
  cursor: pointer;
}
header .navbar .collapsible-menu label:hover {
  text-shadow: 0px 0px 3px whitesmoke;
}
header .navbar .collapsible-menu input#menu {
  display: none;
}
header .navbar .collapsible-menu .menu-content {
  max-height: 0;
  overflow: hidden;
}
header .navbar .collapsible-menu .menu-content .side-navigation {
  list-style: none;
  text-transform: uppercase;
  text-align: right;
}
header .navbar .collapsible-menu .menu-content .side-navigation li {
  margin-top: 2rem;
  font-size: 2rem;
}
header .navbar .collapsible-menu .menu-content .side-navigation li a {
  color: black;
  text-shadow: 0 0 3px #f37602;
}
header .navbar .collapsible-menu input:checked ~ .menu-content {
  max-height: 100%;
}
header .festival {
  height: 650px;
  align-self: center;
  text-align: center;
  color: white;
}
header .festival h3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
header .festival h1 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
}
header .festival h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}
header .festival #booking-form-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 9;
}
header .festival #booking-form {
  background-color: #fff;
  color: black;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
}
header .festival #booking-form .close-btn {
  position: absolute;
  color: black;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
header .festival #booking-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
header .festival #booking-form form label {
  font-weight: bold;
  margin-top: 1rem;
}
header .festival #booking-form form input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}
header .festival #booking-form form input:last-of-type {
  width: 20%;
}
header .festival #booking-form form button[type=submit] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  margin-top: 1.5rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
header .festival #booking-form form button[type=submit]:hover {
  background-color: #45a049;
}

button {
  padding: 10px 20px;
  font-size: 1.6rem;
  cursor: pointer;
  background-color: transparent;
  border-radius: 20px 20px;
}

#book-tickets-btn {
  color: whitesmoke;
  border: 2px solid whitesmoke;
  margin-top: 10rem;
}

#book-tickets-btn:hover,
#book-tickets-btn-two:hover {
  font-size: 1.7rem;
}

main {
  padding: 2%;
}
main .headline-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
}
main .headline-wrapper .stages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #b8580c;
  font-size: 2.4rem;
}
main .headline-wrapper .stages .main-stage {
  width: 50%;
  text-align: right;
  padding-right: 8%;
}
main .headline-wrapper .stages .second-stage {
  width: 50%;
  padding-left: 8%;
}

.timetable {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.timetable .band-info {
  height: 200px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.timetable .band-info h2 {
  font-size: 2.2rem;
  color: whitesmoke;
  margin-bottom: 1rem;
}
.timetable .band-info a {
  font-size: 2rem;
}
.timetable .band-info:nth-child(even) {
  padding: 5rem 15% 2rem 0;
  border-right: 2px solid whitesmoke;
  box-shadow: 2px 0px 0px whitesmoke;
  align-items: end;
  text-align: right;
}
.timetable .band-info:nth-child(odd) {
  border-left: 2px solid whitesmoke;
  box-shadow: -2px 0px 0px whitesmoke;
  padding: 5rem 0 2rem 15%;
  align-items: start;
}
.timetable .band-info:nth-of-type(1) {
  grid-area: 1/2;
}
.timetable .band-info:nth-of-type(2) {
  grid-area: 2/1;
}
.timetable .band-info:nth-of-type(3) {
  grid-area: 3/2;
}
.timetable .band-info:nth-of-type(4) {
  grid-area: 4/1;
}
.timetable .band-info:nth-of-type(5) {
  grid-area: 5/2;
}
.timetable .band-info:nth-of-type(6) {
  grid-area: 6/1;
}
.timetable .band-info:nth-of-type(7) {
  grid-area: 7/2;
}
.timetable .band-info:nth-of-type(8) {
  grid-area: 8/1;
}
.timetable .band-info:nth-of-type(9) {
  grid-area: 9/2;
}
.timetable .band-info:nth-of-type(10) {
  grid-area: 10/1;
}
.timetable .band-info:nth-of-type(11) {
  grid-area: 11/2;
}
.timetable .band-info:nth-of-type(12) {
  grid-area: 12/1;
}
.timetable .band-info:nth-of-type(13) {
  grid-area: 13/2;
}
.timetable .band-info:nth-of-type(14) {
  grid-area: 14/1;
}
.timetable .band-info:nth-of-type(15) {
  grid-area: 15/2;
}

.band-info:nth-of-type(2n + 3):after {
  font-family: "Font Awesome 6 Free";
  content: "\f192";
  font-size: 2rem;
  color: whitesmoke;
  position: absolute;
  top: -1.1rem;
  left: -1.2rem;
}

.band-info:nth-of-type(even):after {
  font-family: "Font Awesome 6 Free";
  content: "\f192";
  font-size: 2rem;
  color: whitesmoke;
  position: absolute;
  top: -1.1rem;
  right: -1.2rem;
}

.band-info:nth-of-type(2):before {
  content: "22:15 - 23:45";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(4):before {
  content: "20:15 - 21:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(6):before {
  content: "18:30 - 19:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(8):before {
  content: "17:00 - 18:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(10):before {
  content: "15:15 - 16:15";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(12):before {
  content: "13:45 - 14:45";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(14):before {
  content: "12:15 - 13:15";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}

.band-info:nth-of-type(3):before {
  content: "21:30 - 23:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(5):before {
  content: "19:00 - 20:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(7):before {
  content: "17:15 - 18:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(9):before {
  content: "15:30 - 16:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(11):before {
  content: "14:00 - 14:45";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(13):before {
  content: "12:30 - 13:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(15):before {
  content: "11:00 - 12:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

*:before {
  text-shadow: 0 0 1px black, 0px 0px 20px whitesmoke;
}

#festival-infos {
  display: none;
  padding: 3rem;
}
#festival-infos h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 10rem;
}

.location-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.location-instructions .address-geo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}
.location-instructions .address-geo .address {
  min-width: 100px;
  min-height: 200px;
  font-size: 1.5rem;
}
.location-instructions .address-geo .geo {
  min-height: 200px;
  font-size: 1.5rem;
}
.location-instructions .drive {
  min-width: 400px;
  min-height: 200px;
  text-align: center;
}
.location-instructions .drive img {
  max-width: 100%;
}
.location-instructions .festival-site {
  margin-top: 5rem;
  text-align: center;
}
.location-instructions .festival-site area img {
  max-width: 100%;
}
.location-instructions h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: whitesmoke;
}

.festival-rules {
  margin-top: 8rem;
}
.festival-rules h2 {
  font-size: 3rem;
}
.festival-rules li {
  padding: 0.5rem;
  font-size: 2rem;
}

footer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
footer #book-tickets-btn-two {
  color: black;
  width: 200px;
  border: 2px solid black;
}

@media screen and (min-width: 600px) {
  .collapsible-menu label {
    display: none;
  }
  .collapsible-menu .menu-content {
    display: none;
  }
  .wide-screen-menu {
    width: 100%;
  }
  .wide-screen-menu ul {
    display: flex;
    justify-content: space-around;
  }
  .wide-screen-menu ul li:not(:first-child) {
    display: list-item !important;
  }
  .main-stage,
  .second-stage {
    font-size: 3.2rem;
  }
  #festival-infos {
    padding: 6rem;
  }
}
@media screen and (min-width: 790px) {
  header .navbar {
    align-self: center;
    width: 80%;
  }
  #festival-infos {
    padding: 10rem;
  }
  #festival-infos .location-instructions .address-geo {
    width: 90%;
  }
}
@media screen and (min-width: 950px) {
  #festival-infos {
    padding: 15rem;
  }
  #festival-infos .location-instructions .address-geo {
    justify-content: space-around;
  }
}

/*# sourceMappingURL=main.css.map */
