* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
}

body {
  min-height: 100vh;
}
#bg-section-top {
  min-height: 1000px;
  padding: 5rem;
  background: linear-gradient(
      to bottom,
      rgba(18, 5, 31, 0) 0%,
      rgba(18, 5, 31, 0.5) 80%,
      rgba(18, 5, 31, 1) 100%
    ),
    url(../Images/concert-3084876_1920.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#bg-section-center {
  min-height: 800px;
  padding: 1.8rem;
  background: linear-gradient(
    180deg,
    rgba(18, 5, 31, 1) 0%,
    rgba(255, 249, 233, 1) 100%
  );
}

#bg-section-bottom {
  min-height: 800px;
  padding: 5rem;
  background: linear-gradient(
      to top,
      rgba(255, 249, 233, 0) 0%,
      rgba(255, 249, 233, 0.5) 80%,
      rgba(255, 249, 233, 1) 100%
    ),
    url(../Images/29a3ca739f8347de51ca975401451b7a_RYAN8130-814-363-c.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

a:hover {
  text-shadow: 0px 0px 3px whitesmoke;
}

header {
  width: 100%;
  min-height: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    width: 100%;

    .wide-screen-menu {
      ul {
        list-style: none;
        li a {
          text-decoration: none;
          color: black;
        }
        li:not(:first-child) {
          display: none;
        }
      }
    }

    .collapsible-menu {
      display: flex;
      flex-direction: column;
      align-items: end;
      label {
        cursor: pointer;
      }
      label:hover {
        text-shadow: 0px 0px 3px whitesmoke;
      }
      input#menu {
        display: none;
      }
      .menu-content {
        max-height: 0;
        overflow: hidden;
        .side-navigation {
          list-style: none;
          text-transform: uppercase;
          text-align: right;
          li {
            margin-top: 2rem;
            font-size: 2rem;
            a {
              color: black;
              text-shadow: 0 0 3px #f37602;
            }
          }
        }
      }
      //   menu displayed when checked
      input:checked ~ .menu-content {
        max-height: 100%;
      }
    }
  }
  .festival {
    height: 650px;
    align-self: center;
    text-align: center;
    color: white;
    // border: 1px solid white;
    h3 {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
    h1 {
      font-size: 4.5rem;
      margin-bottom: 4rem;
    }
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    #booking-form-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
      z-index: 9;
    }

    #booking-form {
      background-color: #fff;
      color: black;
      padding: 20px;
      border-radius: 8px;
      max-width: 400px;
      width: 100%;
      text-align: center;
      position: relative;
      z-index: 10;
      .close-btn {
        position: absolute;
        color: black;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        label {
          font-weight: bold;
          margin-top: 1rem;
        }

        input {
          padding: 8px;
          font-size: 14px;
          border: 1px solid #ccc;
          border-radius: 4px;
          width: 100%;
        }
        input:last-of-type {
          width: 20%;
        }

        button[type="submit"] {
          background-color: #4caf50;
          color: #fff;
          padding: 10px 20px;
          margin-top: 1.5rem;
          font-size: 16px;
          cursor: pointer;
          border: none;
          border-radius: 4px;
        }

        button[type="submit"]:hover {
          background-color: #45a049;
        }
      }
    }
  }
}
// book tickets button
button {
  padding: 10px 20px;
  font-size: 1.6rem;
  cursor: pointer;  
  background-color: transparent;  
  border-radius: 20px 20px; 
}
#book-tickets-btn {
  color: whitesmoke;
  border: 2px solid whitesmoke;
   margin-top: 10rem;
}
#book-tickets-btn:hover,
#book-tickets-btn-two:hover {
  font-size: 1.7rem;
}

main {
  padding: 2%;
  .headline-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    .stages {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: #b8580c;
      font-size: 2.4rem;
      .main-stage {
        width: 50%;
        text-align: right;
        padding-right: 8%;
      }
      .second-stage {
        width: 50%;
        padding-left: 8%;
      }
    }
  }
}

.timetable {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .band-info {
    height: 200px;
    
    position: relative;
    display: flex;
    flex-direction: column;
    
    h2 {
      font-size: 2.2rem;
      color: whitesmoke;
      margin-bottom: 1rem;
    }
    a {
      font-size: 2rem;
    }
  }
  .band-info:nth-child(even) {
    padding: 5rem 15% 2rem 0;
    border-right: 2px solid whitesmoke;
    box-shadow: 2px 0px 0px whitesmoke;
    align-items: end;
    text-align: right;
  }
  .band-info:nth-child(odd) {
    border-left: 2px solid whitesmoke;
    box-shadow: -2px 0px 0px whitesmoke;
    padding: 5rem 0 2rem 15%;
    align-items: start;
  }
  .band-info:nth-of-type(1) {
    grid-area: 1 / 2;
  }
  .band-info:nth-of-type(2) {
    grid-area: 2 / 1;
  }
  .band-info:nth-of-type(3) {
    grid-area: 3 / 2;
  }
  .band-info:nth-of-type(4) {
    grid-area: 4 / 1;
  }
  .band-info:nth-of-type(5) {
    grid-area: 5 / 2;
  }
  .band-info:nth-of-type(6) {
    grid-area: 6 / 1;
  }
  .band-info:nth-of-type(7) {
    grid-area: 7 / 2;
  }
  .band-info:nth-of-type(8) {
    grid-area: 8 / 1;
  }
  .band-info:nth-of-type(9) {
    grid-area: 9 / 2;
  }
  .band-info:nth-of-type(10) {
    grid-area: 10 / 1;
  }
  .band-info:nth-of-type(11) {
    grid-area: 11 / 2;
  }
  .band-info:nth-of-type(12) {
    grid-area: 12 / 1;
  }
  .band-info:nth-of-type(13) {
    grid-area: 13 / 2;
  }
  .band-info:nth-of-type(14) {
    grid-area: 14 / 1;
  }
  .band-info:nth-of-type(15) {
    grid-area: 15 / 2;
  }
}
// time dot in timeline
.band-info:nth-of-type(2n + 3):after {
  font-family: "Font Awesome 6 Free";
  content: "\f192";
  font-size: 2rem;
  color: whitesmoke;
  position: absolute;
  top: -1.1rem;
  left: -1.2rem;
}
.band-info:nth-of-type(even):after {
  font-family: "Font Awesome 6 Free";
  content: "\f192";
  font-size: 2rem;
  color: whitesmoke;
  position: absolute;
  top: -1.1rem;
  right: -1.2rem;
}

// bands on the left side time positioned
.band-info:nth-of-type(2):before {
  content: "22:15 - 23:45";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
.band-info:nth-of-type(4):before {
  content: "20:15 - 21:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
.band-info:nth-of-type(6):before {
  content: "18:30 - 19:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
.band-info:nth-of-type(8):before {
  content: "17:00 - 18:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
.band-info:nth-of-type(10):before {
  content: "15:15 - 16:15";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
.band-info:nth-of-type(12):before {
  content: "13:45 - 14:45";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
.band-info:nth-of-type(14):before {
  content: "12:15 - 13:15";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  right: 15%;
}
// bands on the right side time positioned
.band-info:nth-of-type(3):before {
  content: "21:30 - 23:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}
.band-info:nth-of-type(5):before {
  content: "19:00 - 20:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}
.band-info:nth-of-type(7):before {
  content: "17:15 - 18:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}
.band-info:nth-of-type(9):before {
  content: "15:30 - 16:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}
.band-info:nth-of-type(11):before {
  content: "14:00 - 14:45";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}
.band-info:nth-of-type(13):before {
  content: "12:30 - 13:30";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

.band-info:nth-of-type(15):before {
  content: "11:00 - 12:00";
  color: #f37602;
  font-size: 2rem;
  position: absolute;
  top: -1.2rem;
  left: 15%;
}

*:before {
  text-shadow: 0 0 1px black, 0px 0px 20px whitesmoke;
}

#festival-infos {
  display: none;
  padding: 3rem;
  h1 {
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 10rem;
  }
}

.location-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .address-geo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
    .address {
      min-width: 100px;
      min-height: 200px;
      font-size: 1.5rem;
    }
    .geo {
      min-height: 200px;
      font-size: 1.5rem;
    }
  }
  .drive {
    min-width: 400px;
    min-height: 200px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .festival-site {
    margin-top: 5rem;
    text-align: center;
    area {
      img {
        max-width: 100%;
      }
    }
  }  
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: whitesmoke;
  }
}

.festival-rules {
  margin-top: 8rem;
  h2 {
    font-size: 3rem;
  }
  li {
    padding: .5rem;
    font-size: 2rem;
  }
}


footer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  #book-tickets-btn-two {
    color: black;
    width: 200px;
    border: 2px solid black;
  }
}



// media queries coming up
@media screen and (min-width: 600px) {
  .collapsible-menu {
    label {
      display: none;
    }
    .menu-content {
      display: none;
    }
  }
  .wide-screen-menu {
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
      // something is in conflict with display, but works with !important
      li:not(:first-child) {
        display: list-item !important;
      }
    }
  }
  .main-stage,
  .second-stage {
    font-size: 3.2rem;
  }
  #festival-infos {
    padding: 6rem;
  }
}
@media screen and (min-width: 790px) {
  header {
    .navbar {
      align-self: center;
      width: 80%;
    }
  }
  #festival-infos {
    padding: 10rem;
    .location-instructions {
      .address-geo {
        width: 90%;
      }
    }
  }
}

@media screen and (min-width: 950px) {
  #festival-infos {
    padding: 15rem;
    .location-instructions {
      .address-geo {
        justify-content: space-around;
      }
    }
  }
}